{deps, [{p1_cache_tab, ".*", {git, "https://github.com/processone/cache_tab"}},
        {p1_tls, ".*", {git, "https://github.com/processone/tls"}},
        {p1_stringprep, ".*", {git, "https://github.com/processone/stringprep"}},
        {p1_xml, ".*", {git, "https://github.com/processone/xml"}},
        {esip, ".*", {git, "https://github.com/processone/p1_sip"}},
        {p1_stun, ".*", {git, "https://github.com/processone/stun"}},
        {p1_yaml, ".*", {git, "https://github.com/processone/p1_yaml"}},
        {lager, ".*", {git, "https://github.com/basho/lager"}},
        {etcp_server, ".*", {git, "https://github.com/wcy123/etcp_server"}},
        {p1_utils, ".*", {git, "https://github.com/processone/p1_utils"}}]}.
